<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.component.sd.mapper.SdPicQualityMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.component.sd.domain.SdPicQuality">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
            <result property="modelPath" column="model_path" jdbcType="VARCHAR"/>
            <result property="modelUrl" column="model_url" jdbcType="VARCHAR"/>
            <result property="enableHr" column="enable_hr" jdbcType="TINYINT"/>
            <result property="hrScale" column="hr_scale" jdbcType="FLOAT"/>
            <result property="maxHrScale" column="max_hr_scale" jdbcType="FLOAT"/>
            <result property="denoisingStrength" column="denoising_strength" jdbcType="FLOAT"/>
            <result property="steps" column="steps" jdbcType="INTEGER"/>
            <result property="hrResizeX" column="hr_resize_x" jdbcType="INTEGER"/>
            <result property="hrResizeY" column="hr_resize_y" jdbcType="INTEGER"/>
            <result property="consumeIntegral" column="consume_integral" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,name,
        model_name,model_path,model_url,
        enable_hr, hr_scale,max_hr_scale,denoising_strength,steps,
        hr_resize_x,hr_resize_y,consume_integral,
        status,sort,create_time,
        update_time,create_by,update_by,
        remark,tenant_id,is_deleted
    </sql>
</mapper>
