<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.admin.mapper.SysOauthClientMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.admin.domain.SysOauthClient">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
        <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
        <result property="resourceIds" column="resource_ids" jdbcType="VARCHAR"/>
        <result property="clientSecret" column="client_secret" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="authorizedGrantTypes" column="authorized_grant_types" jdbcType="VARCHAR"/>
        <result property="webServerRedirectUri" column="web_server_redirect_uri" jdbcType="VARCHAR"/>
        <result property="authorities" column="authorities" jdbcType="VARCHAR"/>
        <result property="accessTokenValidity" column="access_token_validity" jdbcType="INTEGER"/>
        <result property="refreshTokenValidity" column="refresh_token_validity" jdbcType="INTEGER"/>
        <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"/>
        <result property="autoApprove" column="auto_approve" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        select id,
               client_id,
               client_name,
               resource_ids,
               client_secret,
               scope,
               authorized_grant_types,
               web_server_redirect_uri,
               authorities,
               access_token_validity,
               refresh_token_validity,
               additional_information,
               auto_approve,
               status,
               create_time,
               update_time,
               create_by,
               update_by,
               remark,
               is_deleted
        from sys_oauth_client
    </sql>
</mapper>
