package ${packageName}.service;

import java.util.List;

import ${packageName}.domain.${ClassName};
import com.auiucloud.core.database.model.Search;
import com.auiucloud.core.database.utils.PageUtils;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /**
     * 查询${functionName}分页列表
     *
     * @param search 搜索参数
     * @param ${className} ${functionName}
     * @return PageUtils
     */
    PageUtils listPage(Search search, ${ClassName} ${className});

    /**
     * 查询${functionName}分页列表
     *
     * @param search 搜索参数
     * @param ${className} ${functionName}
     * @return List<${ClassName}>
     */
    List<${ClassName}> select${ClassName}List(Search search, ${className});

}
