<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.admin.modules.system.mapper.SysDictTypeMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.admin.modules.system.domain.SysDictType">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseVoResultMap" type="com.auiucloud.admin.modules.system.vo.SysDictVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <collection property="dictDataList" javaType="java.util.List" resultMap="BaseDataResultMap"/>
    </resultMap>

    <resultMap id="BaseDataResultMap" type="com.auiucloud.admin.modules.system.vo.SysDictDataVO">
        <id property="id" column="d_id" jdbcType="BIGINT"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="dictLabel" column="dict_label" jdbcType="VARCHAR"/>
        <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
        <result property="dictType" column="d_dict_type" jdbcType="VARCHAR"/>
        <result property="cssClass" column="css_class" jdbcType="VARCHAR"/>
        <result property="listClass" column="list_class" jdbcType="VARCHAR"/>
        <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
        <result property="status" column="d_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        select t.id,
               t.dict_name,
               t.dict_type,
               t.status,
#                t.create_time,
#                t.update_time,
#                t.create_by,
#                t.update_by,
#                t.remark,
               d.id        as d_id,
               d.dict_label,
               d.dict_value,
               d.dict_type as d_dict_type,
               d.css_class,
               d.list_class,
               d.is_default,
               d.status    as d_status,
               d.sort
#                d.create_time,
#                d.update_time,
#                d.create_by,
#                d.update_by,
#                d.remark
        from sys_dict_type t
                 left join sys_dict_data d
                           on t.dict_type = d.dict_type and d.is_deleted = 0 and d.status = 0
    </sql>

    <select id="selectDictTypeList" resultMap="BaseVoResultMap">
        <include refid="Base_Column_List"/>
        <where>
            t.status = 0 and t.is_deleted = 0
            <if test="dictName != null and dictName != ''">
                and t.dictName like concat('%', #{dictName}, '%')
            </if>
            <if test="dictName != null and dictName != ''">
                and t.dict_type = #{dictType}
            </if>
        </where>
        order by t.create_time desc
    </select>
    <select id="selectDictInfoByType" resultMap="BaseVoResultMap">
        <include refid="Base_Column_List"/>
        where t.dict_type = #{dictType} and t.is_deleted = 0
    </select>

</mapper>
