<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.component.cms.mapper.GalleryCollectionMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.component.cms.domain.GalleryCollection">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uId" column="u_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
        <result property="isTop" column="is_top" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
        <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,u_id,title,
        cover,tag_id,is_top,
        status,sort,create_time,
        update_time,create_by,update_by,
        remark,tenant_id,is_deleted
    </sql>

    <sql id="GalleryCollectionVO_Column_List">
        select cgc.id,
               cgc.u_id,
               u2.avatar,
               u2.nickname,
               cgc.title,
               cgc.cover,
               cgc.tag_id,
               cpt.name tag,
               cgc.is_top,
               cgc.status,
               cgc.sort,
               cgc.create_time,
               cgc.update_time,
               cgc.create_by,
               cgc.update_by,
               cgc.remark
        from cms_gallery_collection cgc
                 inner join ums_user u2 on u2.id = cgc.u_id and u2.is_deleted = 0
                 left join cms_pic_tag cpt on cpt.id = cgc.tag_id and cpt.is_deleted = 0
    </sql>

    <select id="selectGalleryCollectionVOById" resultType="com.auiucloud.component.cms.vo.GalleryCollectionVO">
        <include refid="GalleryCollectionVO_Column_List"/>
        where cgc.is_deleted = 0
          and cgc.id = #{cId}
    </select>


    <select id="countUserHomeGalleryCollectionTotal" resultType="java.lang.Long">
        select count(*)
        from cms_gallery_collection cgc
        inner join ums_user u2 on u2.id = cgc.u_id and u2.is_deleted = 0
        left join (select cg.collection_id, cg.is_published, count(cg.collection_id) gallery_num
        from cms_gallery cg
        <where>
            cg.is_deleted = 0
            <if test="userId != null and userId != galleryCollection.uId">
                and cg.is_published = 1 and cg.approval_status = 1
            </if>
        </where>
        group by cg.collection_id
        ) cg2 on cg2.collection_id = cgc.id
        <where>
            cgc.is_deleted = 0
            and cg2.gallery_num > 0
            and cgc.u_id = #{galleryCollection.uId}
            <if test="userId != null and userId != galleryCollection.uId">
                and cgc.status = 1
            </if>
        </where>
    </select>
    <select id="selectUserHomeGalleryCollectionPage" resultType="com.auiucloud.component.cms.vo.GalleryCollectionVO">
        <include refid="GalleryCollectionVO_Column_List"/>
        left join (select cg.collection_id, cg.is_published, count(cg.collection_id) gallery_num
        from cms_gallery cg
        <where>
            cg.is_deleted = 0
            <if test="userId != null and userId != galleryCollection.uId">
                and cg.is_published = 1 and cg.approval_status = 1
            </if>
        </where>
        group by cg.collection_id
        ) cg2 on cg2.collection_id = cgc.id
        <where>
            cgc.is_deleted = 0
            and cg2.gallery_num > 0
            and cgc.u_id = #{galleryCollection.uId}
            <if test="userId != null and userId != galleryCollection.uId">
                and cgc.status = 1
            </if>
        </where>
        order by cgc.is_top desc, cgc.sort desc, create_time desc
        limit #{search.pageNum}, #{search.pageSize};
    </select>

    <select id="selectGalleryCollectionVOByCIds"
            resultType="com.auiucloud.component.cms.vo.GalleryCollectionVO">
        <include refid="GalleryCollectionVO_Column_List"/>
        where cgc.is_deleted = 0
        and cgc.id in
        <foreach collection="list" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </select>
</mapper>
