<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.component.cms.mapper.GalleryCollectionMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.component.cms.domain.GalleryCollection">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uId" column="u_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="isTop" column="is_top" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,u_id,title,
        cover,tag_id,is_top,
        status,sort,create_time,
        update_time,create_by,update_by,
        remark,tenant_id,is_deleted
    </sql>
    <select id="selectGalleryCollectVOById" resultType="com.auiucloud.component.cms.vo.GalleryCollectionVO">
        select cgc.id,
               cgc.u_id,
               cgc.title,
               cgc.cover,
               cgc.tag_id,
               cgc.is_top,
               cgc.status,
               cgc.sort,
               cgc.create_time,
               cgc.update_time,
               cgc.create_by,
               cgc.update_by,
               cgc.remark,
               cg.id,
               cg.u_id,
               cg.title,
               cg.pic,
               cg.prompt,
               cg.negative_prompt,
               cg.width,
               cg.height,
               cg.size,
               cg.seed,
               cg.model,
               cg.fusion_model,
               cg.steps,
               cg.sampler,
               cg.cfg_scale,
               cg.tag_id,
               cg.collection_id,
               cg.is_published,
               cg.is_top,
               cg.download_integral,
               cg.download_times,
               cg.views,
               cg.sort,
               cg.approval_status,
               cg.type,
               cg.published_time,
               cg.create_time,
               cg.update_time,
               cg.create_by,
               cg.update_by,
               cg.remark
        from cms_gallery_collection cgc
                 left join cms_gallery cg on cgc.id = cg.collection_id
        where cgc.is_deleted = 0
          and cgc.id = #{collectId};
    </select>
</mapper>
