<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.component.cms.mapper.GalleryMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.component.cms.domain.Gallery">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="thumbUrl" column="thumb_url" jdbcType="VARCHAR"/>
        <result property="ratio" column="ratio" jdbcType="VARCHAR"/>
        <result property="width" column="width" jdbcType="INTEGER"/>
        <result property="height" column="height" jdbcType="INTEGER"/>
        <result property="size" column="height" jdbcType="BIGINT"/>
        <result property="sdConfig" column="sd_config" jdbcType="VARCHAR"/>
        <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
        <result property="collectionId" column="collection_id" jdbcType="BIGINT"/>
        <result property="isPublished" column="is_published" jdbcType="TINYINT"/>
        <result property="isTop" column="is_top" jdbcType="TINYINT"/>
        <result property="consumeIntegral" column="consume_integral" jdbcType="INTEGER"/>
        <result property="downloadIntegral" column="download_integral" jdbcType="INTEGER"/>
        <result property="downloadTimes" column="download_times" jdbcType="VARCHAR"/>
        <result property="views" column="views" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="approvalStatus" column="approval_status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="publishedTime" column="published_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
        <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        select id,
               user_id,
               title,
               pic,
               thumb_url,
               ratio,
               width,
               height,
               sd_config,
               tag_id,
               collection_id,
               is_published,
               is_top,
               consume_integral,
               download_integral,
               download_times,
               views,
               sort,
               status,
               approval_status,
               type,
               published_time,
               join_collection_time,
               create_time,
               update_time,
               create_by,
               update_by,
               remark,
               tenant_id,
               is_deleted
        from cms_gallery
    </sql>

    <sql id="Base_GalleryVO_Column_List">
        select cg.id,
               cg.user_id,
               u2.nickname,
               u2.avatar,
               cg.title,
               cg.pic,
               cg.thumb_url,
               cg.ratio,
               cg.width,
               cg.height,
               cg.size,
               cg.sd_config,
               cg.tag_id,
               cg.collection_id,
               cg.is_published,
               cg.is_top,
               cg.consume_integral,
               cg.download_integral,
               cg.download_times,
               cg.views,
               cg.sort,
               cg.status,
               cg.approval_status,
               cg.type,
               cg.published_time,
               cg.create_time,
               cg.update_time,
               cg.create_by,
               cg.update_by,
               cg.remark,
               cg.tenant_id,
               cg.is_deleted,
               cgc.title collection,
               cpt.name  tag
        from cms_gallery cg
                 inner join ums_user u2 on u2.id = cg.user_id and u2.is_deleted = 0
                 left join cms_gallery_collection cgc on cg.collection_id = cgc.id and cgc.is_deleted = 0
                 left join cms_pic_tag cpt on cg.tag_id = cpt.id and cpt.is_deleted = 0
    </sql>

    <select id="selectGalleryVOListByIds" resultType="com.auiucloud.component.cms.vo.GalleryVO">
        <include refid="Base_GalleryVO_Column_List"/>
        where
        cg.is_deleted = 0
        and cg.is_published = 1
        and cg.approval_status = 1
        and cg.id in
        <foreach collection="list" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </select>

    <select id="selectGalleryVOById" resultType="com.auiucloud.component.cms.vo.GalleryVO">
        <include refid="Base_GalleryVO_Column_List"/>
        where cg.is_deleted = 0 and cg.id = #{galleryId}
    </select>

    <select id="selectGalleryReCommendList" resultType="com.auiucloud.component.cms.vo.GalleryVO">
        <include refid="Base_GalleryVO_Column_List"/>
        where cg.is_deleted = 0
        and cg.is_published = 1
        and cg.approval_status = 1
        and cg.status = 2
        order by rand() limit 9
    </select>

    <select id="countSquareGalleryVOTotal" resultType="java.lang.Long">
        select count(*)
        from cms_gallery cg
        inner join ums_user u2
        on u2.id = cg.user_id and u2.is_deleted = 0
        <where>
            cg.is_deleted = 0 and cg.is_published = 1 and cg.approval_status = 1 and cg.status = 2
            <if test="gallery.tagId != null and gallery.tagId != 0 ">
                and cg.tag_id = #{gallery.tagId}
            </if>
        </where>
    </select>

    <select id="selectSquareGalleryVOPage" resultType="com.auiucloud.component.cms.vo.GalleryVO">
        <include refid="Base_GalleryVO_Column_List"/>
        <where>
            cg.is_deleted = 0 and cg.is_published = 1 and cg.approval_status = 1 and cg.status = 2
            <if test="gallery.tagId != null and gallery.tagId != 0 ">
                and cg.tag_id = #{gallery.tagId}
            </if>
            order by ${search.order}
            limit #{search.pageNum}, #{search.pageSize};
        </where>
    </select>

    <select id="countUserHomeGalleryVONum" resultType="java.lang.Long">
        select count(*)
        from cms_gallery cg
        inner join ums_user u2
        on u2.id = cg.user_id and u2.is_deleted = 0
        <where>
            cg.is_deleted = 0 and cg.approval_status != 2 and cg.status = 2
            <if test="userId != null">
                and cg.user_id = #{gallery.userId}
            </if>
            <if test="gallery.tagId != null">
                and cg.tag_id = #{gallery.tagId}
            </if>
            <if test="gallery.collectionId != null">
                and cg.collection_id = #{gallery.collectionId}
            </if>
            <if test="userId != null and userId != gallery.userId">
                and cg.is_published = 1 and cg.approval_status = 1
            </if>
        </where>
    </select>

    <select id="selectUserHomeGalleryVOPage" resultType="com.auiucloud.component.cms.vo.GalleryVO">
        <include refid="Base_GalleryVO_Column_List"/>
        <where>
            cg.is_deleted = 0  and cg.approval_status != 2 and cg.status = 2
            <if test="userId != null">
                and cg.user_id = #{gallery.userId}
            </if>
            <if test="gallery.tagId != null">
                and cg.tag_id = #{gallery.tagId}
            </if>
            <if test="gallery.collectionId != null">
                and cg.collection_id = #{gallery.collectionId}
            </if>
            <if test="userId != null and userId != gallery.userId">
                and cg.is_published = 1 and cg.approval_status = 1
            </if>
            order by ${search.order}
            limit #{search.pageNum}, #{search.pageSize};
        </where>
    </select>
</mapper>
