<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.component.cms.mapper.SwiperAdvMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.component.cms.domain.SwiperAdv">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="clickNum" column="click_num" jdbcType="OTHER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="linkType" column="link_type" jdbcType="INTEGER"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,pic,
        click_num,type,link_type,
        link,status,sort,
        create_time,update_time,create_by,
        update_by,remark,is_deleted
    </sql>
</mapper>
