<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.component.cms.mapper.UserGalleryLikeMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.component.cms.domain.UserGalleryLike">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,post_id,
        type,status,create_time,
        update_time
    </sql>

    <select id="selectGalleryLikeVOListByPostId2Type"
            resultType="com.auiucloud.component.cms.vo.UserGalleryLikeVO">
        select uugl.id,
               uugl.user_id,
               u2.avatar,
               u2.nickname,
               uugl.post_id,
               uugl.type,
               uugl.status,
               uugl.create_time,
               uugl.update_time
        from ums_user_gallery_like uugl
                 left join ums_user u2 on u2.id = uugl.user_id
        where uugl.status = 0
          and u2.is_deleted = 0
          and uugl.type = #{type}
          and uugl.post_id = #{postId}
    </select>

    <select id="selectGalleryLikeVOListByPostIds2Type"
            resultType="com.auiucloud.component.cms.vo.UserGalleryLikeVO">
        select uugl.id,
        uugl.user_id,
        u2.avatar,
        u2.nickname,
        uugl.post_id,
        uugl.type,
        uugl.status,
        uugl.create_time,
        uugl.update_time
        from ums_user_gallery_like uugl
        left join ums_user u2 on u2.id = uugl.user_id
        where uugl.status = 0
        and uugl.type = #{type}
        and u2.is_deleted = 0
        and uugl.post_id in
        <foreach collection="postIds" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </select>

    <select id="countUserReceivedLikeNum" resultType="java.lang.Long">
        select count(*)
        from ums_user_gallery_like uugl
                 left join cms_gallery cg on uugl.post_id = cg.id and cg.is_deleted = 0
        where cg.user_id = #{userId}
          and cg.is_published = 1
          and uugl.status = 0;
    </select>
</mapper>
