<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.admin.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.admin.domain.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="alwaysShow" column="is_always_show" jdbcType="TINYINT"/>
        <result property="affix" column="is_affix" jdbcType="TINYINT"/>
        <result property="hidden" column="is_hidden" jdbcType="TINYINT"/>
        <result property="hideHeader" column="is_hide_header" jdbcType="TINYINT"/>
        <result property="keepAlive" column="is_keep_alive" jdbcType="TINYINT"/>
        <result property="requireAuth" column="is_require_auth" jdbcType="TINYINT"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        SELECT id,
               parent_id,
               name,
               title,
               component,
               icon,
               path,
               redirect,
               type,
               status,
               is_always_show,
               is_affix,
               is_hidden,
               is_hide_header,
               is_keep_alive,
               is_require_auth,
               sort,
               create_time,
               update_time,
               create_by,
               update_by,
               remark,
               is_deleted
        from sys_menu
    </sql>
    <select id="routes" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        WHERE is_deleted = 0 AND status = 1 AND id IN (
        SELECT menu_id FROM sys_role_menu WHERE role_id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        )
        order by sort asc
    </select>
</mapper>
