<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.ums.mapper.MemberMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.ums.domain.Member">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="cardId" column="card_id" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="groupIds" column="group_ids" jdbcType="VARCHAR"/>
        <result property="tagIds" column="tag_ids" jdbcType="VARCHAR"/>
        <result property="balance" column="balance" jdbcType="DECIMAL"/>
        <result property="brokeragePrice" column="brokerage_price" jdbcType="DECIMAL"/>
        <result property="integral" column="integral" jdbcType="INTEGER"/>
        <result property="experience" column="experience" jdbcType="OTHER"/>
        <result property="signNum" column="sign_num" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="BIGINT"/>
        <result property="spreadUid" column="spread_uid" jdbcType="BIGINT"/>
        <result property="spreadTime" column="spread_time" jdbcType="TIMESTAMP"/>
        <result property="promoterTime" column="promoter_time" jdbcType="TIMESTAMP"/>
        <result property="isPromoter" column="is_promoter" jdbcType="TINYINT"/>
        <result property="payCount" column="pay_count" jdbcType="OTHER"/>
        <result property="spreadCount" column="spread_count" jdbcType="INTEGER"/>
        <result property="country" column="country" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="loginType" column="login_type" jdbcType="VARCHAR"/>
        <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="registerIp" column="register_ip" jdbcType="VARCHAR"/>
        <result property="registerAddress" column="register_address" jdbcType="VARCHAR"/>
        <result property="registerSource" column="register_source" jdbcType="VARCHAR"/>
        <result property="accountNonExpired" column="account_non_expired" jdbcType="TINYINT"/>
        <result property="accountNonLocked" column="account_non_locked" jdbcType="TINYINT"/>
        <result property="credentialsNonExpired" column="credentials_non_expired" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,account,open_id,
        real_name,nickname,avatar,
        mobile,email,card_id,
        password,gender,birthday,
        status,group_ids,tag_ids,
        balance,brokerage_price,integral,
        experience,sign_num,level,
        spread_uid,spread_time,promoter_time,
        is_promoter,pay_count,spread_count,
        country,province,city,
        area,language,login_type,
        login_date,login_ip,register_ip,
        register_address,register_source,account_non_expired,
        account_non_locked,credentials_non_expired,create_time,
        update_time,create_by,update_by,
        remark,is_deleted
    </sql>

    <select id="getMemberByOpenId2Source" resultMap="BaseResultMap">
        select u.id,
               u.account,
               u.real_name,
               u.nickname,
               u.avatar,
               u.mobile,
               u.email,
               u.password,
               u.status,
               u.account_non_expired,
               u.account_non_locked,
               u.credentials_non_expired,
               su.open_id
        from ums_user u
                 left join social_user_auth sua on sua.user_id = u.id
                 left join social_user su on su.id = sua.social_user_id
        where u.is_deleted = 0 and su.open_id = #{openId} and su.source = #{source}
    </select>
</mapper>
