<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auiucloud.ums.mapper.UserFollowerMapper">

    <resultMap id="BaseResultMap" type="com.auiucloud.ums.domain.UserFollower">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uId" column="u_id" jdbcType="BIGINT"/>
        <result property="followerId" column="follower_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,u_id,follower_id,
        status,create_time,update_time
    </sql>
</mapper>
